<h1>Editing bayern player</h1>

<%= render "form", bayern_player: @bayern_player %>

<br>

<div>
  <%= link_to "Show this bayern player", @bayern_player %> |
  <%= link_to "Back to bayern players", bayern_players_path %>
</div>
